.idea/
*.swp
*.pyc
*~
build/
dist/
tests/htmlcov
tests/cover
tests/.coverage
tests/udhcpd.leases
tests/examples
tests/pyroute2
tests/ci/results
tests/*xml
output.html
MANIFEST
setup.ini
docs/changelog.rst
docs/makefile.rst
docs/general.rst
docs/html
docs/doctrees
docs-build.log
pyroute2.egg-info
.tox
