*.swp
*.pyc
*~
build/
dist/
docs/general.rst
docs/_build
tests/htmlcov
tests/cover
tests/.coverage
tests/*key
tests/*crt
output.html
setup.py
MANIFEST
docs/conf.py
docs/changelog.rst
docs/makefile.rst
