.idea/
.eggs/
*.swp
*.pyc
*~
pyroute2/config/version.py
build/
dist/
MANIFEST
docs/html
docs/man
docs/doctrees
docs/_templates/private.layout.html
docs-build.log
lab/_build
lab/*html
lab/_static/conf.js
*.egg-info
benchmark.log
venv
.venv
.nox*
