files: '^(noxfile.py|pyroute2|pr2modules|examlpes/ndb|examples/pyroute2-cli|tests)'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        name: isort (python)
        args: ['-m', '3', '--tc', '-w', '79', '--profile', 'black']
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
        args: ['-C', '-S', '-l', '79']
-   repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        files: \.py$
        args: ['--config', '.flake8']
