include VERSION
include README.rst
include README.minimal.md
include README.report.md
include README.license.md
include LICENSE*
include CHANGELOG.md
graft docs/html
graft tests/test_unit
graft examples
